# Problem Definition
Predict the GDP of a country

In [18]:
#import the libraries

%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from functools import reduce
from scipy.stats import stats

#to find out where my working directory is
import os
print(os.getcwd())

# convert scientific notation to decimals
pd.set_option('display.float_format', lambda x: '%.2f' % x)

/Users/jacobjablonski/Documents/Education/Concordia/Big Data Diploma/CEBD 1260/Final Project/Code/Data Prep

# Load the data

In [2]:
#1.1 import data set
df_1 = pd.read_csv('/Users/jacobjablonski/Documents/Education/Concordia/Big Data Diploma/CEBD 1260/Final Project/Data/Raw/Indicators_raw.csv')

# Clean the data
I want to predict the GDP of a country. Cleaning this data is going to be tricky because the indicator codes are all in the same column and so are the corresponding values. I need to make new columns for each feature I want to use in my prediction model.

In [3]:
#select what the indicator codes I need
df1 = df_1[(df_1.IndicatorCode == 'SP.DYN.LE00.IN')]
df2 = df_1[(df_1.IndicatorCode == 'EN.ATM.CO2E.PC')]
df3 = df_1[(df_1.IndicatorCode == 'SP.DYN.TFRT.IN')]
df4 = df_1[(df_1.IndicatorCode == 'TX.VAL.MRCH.CD.WT')]
df5 = df_1[(df_1.IndicatorCode == 'NY.GDP.PCAP.CD')]

In [4]:
life_expectancy = df1.drop(columns=['CountryName', 'CountryCode', 'IndicatorName', 'IndicatorCode', 'Year'])
life_expectancy.columns = ['life_expectancy']
life_expectancy.reset_index(drop=True)

       life_expectancy
0                46.85
1                62.27
2                67.82
3                48.30
4                45.55
5                69.27
6                67.03
7                61.21
8                69.28
9                41.41
10               39.56
11               67.99
12               65.13
13               68.73
14               56.04
15               54.38
16               40.23
17               45.89
18               39.16
19               45.65
20               46.71
21               46.65
22               46.42
23               69.89
24               67.34
25               45.04
26               53.67
27               51.80
28               41.96
29               40.17
...                ...
12274            70.99
12275            48.94
12276            81.70
12277            82.75
12278            74.72
12279            69.40
12280            64.29
12281            74.25
12282            67.52
12283            59.13
12284            72.64
12285            70.31
12286            73.65
12287            75.18
12288            65.46
12289            57.77
12290            71.16
12291            77.20
12292            80.96
12293            78.84
12294            76.84
12295            68.23
12296            71.67
12297            74.07
12298            75.76
12299            79.62
12300            73.20
12301            63.58
12302            59.24
12303            55.63

[12304 rows x 1 columns]

In [5]:
co2_per_capita = df2.drop(columns=['CountryName', 'CountryCode', 'IndicatorName', 'IndicatorCode', 'Year'])
co2_per_capita.columns = ['co2_per_capita']
co2_per_capita.reset_index(drop=True)

       co2_per_capita
0                0.64
1                1.40
2                5.11
3                1.16
4                0.95
5                4.25
6                5.76
7                0.27
8                0.12
9                7.53
10               7.86
11               1.33
12               0.90
13               0.10
14               0.83
15               0.37
16               0.97
17               0.86
18               0.88
19              15.53
20               7.28
21               0.36
22               0.60
23               0.24
24               0.55
25               0.55
26               1.29
27               3.10
28               0.05
29               1.26
...               ...
10569            3.65
10570            0.86
10571            5.52
10572            4.63
10573            2.74
10574            0.36
10575            0.15
10576            4.53
10577            0.16
10578            0.32
10579            0.98
10580           37.14
10581            2.40
10582            4.38
10583           12.18
10584            6.01
10585            0.11
10586            6.26
10587           20.43
10588            7.09
10589           17.02
10590            2.30
10591            3.91
10592            0.59
10593            6.42
10594            1.97
10595            0.57
10596            0.92
10597            0.21
10598            0.69

[10599 rows x 1 columns]

In [6]:
fertility_rate = df3.drop(columns=['CountryName', 'CountryCode', 'IndicatorName', 'IndicatorCode', 'Year'])
fertility_rate.columns = ['fertility_rate']
fertility_rate.reset_index(drop=True)

       fertility_rate
0                6.92
1                5.52
2                2.50
3                5.40
4                5.83
5                2.60
6                2.84
7                3.70
8                2.58
9                6.50
10               6.72
11               2.97
12               2.97
13               2.96
14               5.96
15               6.42
16               6.66
17               5.91
18               6.51
19               5.91
20               6.86
21               6.92
22               5.86
23               3.67
24               3.24
25               5.84
26               6.77
27               5.79
28               6.05
29               6.62
...               ...
12236            2.39
12237            3.33
12238            1.91
12239            1.52
12240            2.96
12241            3.51
12242            5.21
12243            1.52
12244            5.20
12245            4.66
12246            3.77
12247            1.79
12248            2.25
12249            2.04
12250            2.33
12251            5.87
12252            1.51
12253            1.80
12254            1.92
12255            1.87
12256            2.03
12257            2.20
12258            3.38
12259            2.39
12260            1.74
12261            1.77
12262            4.01
12263            4.28
12264            5.43
12265            3.98

[12266 rows x 1 columns]

In [7]:
merch_export = df4.drop(columns=['CountryName', 'CountryCode', 'IndicatorName', 'IndicatorCode', 'Year'])
merch_export.columns = ['merch_export']
merch_export.reset_index(drop=True)

          merch_export
0        4645918768.64
1         623717113.92
2       15317114131.54
3        6249855161.54
4       34790408252.20
5       59624941863.89
6       53624674344.67
7        2490703360.72
8        2960089513.85
9      100076181118.91
10      10031356417.87
11      88924180219.11
12      10136425115.74
13       4747355160.00
14       2925131799.35
15      24500390769.51
16       1858154710.15
17       8470089523.38
18       5319659629.13
19       2921116012.81
20      22688124364.76
21      26422632813.16
22      89995972258.53
23        298395365.33
24         70481239.59
25       1014245616.46
26       2325671610.92
27       5730474446.57
28       5694501302.96
29      14433655180.92
...                ...
11218    4035000000.00
11219    2110000000.00
11220    2162000000.00
11221  164648178900.00
11222  238809509431.00
11223    2000000000.00
11224    1180000000.00
11225    4645000000.00
11226  227573580000.00
11227      20000000.00
11228    1350000000.00
11229      18000000.00
11230   11600000000.00
11231   16755613238.47
11232  157642154102.00
11233   17500000000.00
11234        300000.00
11235    2269914867.41
11236   54199000000.00
11237  359000000000.00
11238  506794718650.00
11239 1623196839482.00
11240    9167495000.00
11241   13300000000.00
11242      60000000.00
11243   80470000000.00
11244  150475423000.00
11245    8000000000.00
11246    9696375000.00
11247    3438000000.00

[11248 rows x 1 columns]

In [8]:
gdp = df5.drop(columns=['CountryName', 'CountryCode', 'IndicatorName', 'IndicatorCode', 'Year'])
gdp.columns = ['gdp']
gdp.reset_index(drop=True)

           gdp
0       457.46
1       146.81
2        89.32
3       924.57
4       648.22
5       876.48
6       107.42
7      1240.39
8      1448.14
9       367.81
10      246.09
11      111.87
12       97.98
13      114.30
14     2942.63
15     1361.93
16       83.37
17      129.66
18      129.82
19      131.62
20      450.29
21       59.79
22      244.82
23     1806.80
24      935.46
25     1550.34
26       88.69
27     1273.69
28      304.91
29       93.02
...        ...
10313  7647.53
10314  6668.89
10315  1875.84
10316  9680.12
10317  3477.15
10318 58938.77
10319 85594.33
10320  1114.01
10321   955.14
10322  5977.38
10323  1169.04
10324   635.04
10325  4113.99
10326 21323.75
10327  4420.70
10328 10515.01
10329  9031.51
10330  3826.90
10331   714.57
10332  3082.46
10333 43962.71
10334 46331.98
10335 54629.50
10336 16806.77
10337  2036.69
10338  3147.96
10339  2052.29
10340  2965.90
10341  1721.62
10342   931.20

[10343 rows x 1 columns]

In [9]:
a = life_expectancy.join(co2_per_capita, how='outer')

In [10]:
b = fertility_rate.join(merch_export, how='outer')

In [11]:
c = a.join(b, how = 'outer')

In [12]:
d = c.join(gdp, how = 'outer')

In [25]:
df_final = d.fillna(d.mean())
df_final

,life_expectancy,co2_per_capita,fertility_rate,merch_export,gdp
8,63.28,0.64,4.10,164750122708.17,6835.19
14,63.28,4.31,6.92,164750122708.17,6835.19
22,46.85,4.31,4.10,164750122708.17,6835.19
23,63.28,4.31,4.10,4645918768.64,6835.19
86,63.28,1.40,4.10,164750122708.17,6835.19
93,63.28,4.31,5.52,164750122708.17,6835.19
95,63.28,4.31,4.10,164750122708.17,457.46
103,62.27,4.31,4.10,164750122708.17,6835.19
104,63.28,4.31,4.10,623717113.92,6835.19
166,63.28,5.11,4.10,164750122708.17,6835.19
182,63.28,4.31,2.50,164750122708.17,6835.19
188,67.82,4.31,4.10,164750122708.17,6835.19
239,63.28,1.16,4.10,164750122708.17,6835.19
259,63.28,4.31,5.40,164750122708.17,6835.19
264,63.28,4.31,4.10,164750122708.17,146.81
282,48.30,4.31,4.10,164750122708.17,6835.19
283,63.28,4.31,4.10,15317114131.54,6835.19
362,63.28,0.95,4.10,164750122708.17,6835.19
372,63.28,4.31,5.83,164750122708.17,6835.19
377,63.28,4.31,4.10,164750122708.17,89.32
400,45.55,4.31,4.10,164750122708.17,6835.19
403,63.28,4.31,4.10,6249855161.54,6835.19
483,63.28,4.25,4.10,164750122708.17,6835.19
511,63.28,4.31,2.60,164750122708.17,6835.19
518,63.28,4.31,4.10,164750122708.17,924.57
535,69.27,4.31,4.10,164750122708.17,6835.19
536,63.28,4.31,4.10,34790408252.20,6835.19
617,63.28,4.31,2.84,164750122708.17,6835.19
624,63.28,4.31,4.10,164750122708.17,648.22
636,67.03,4.31,4.10,164750122708.17,6835.19
...,...,...,...,...,...
5634342,63.28,4.31,4.10,157642154102.00,6835.19
5634770,63.28,4.31,4.10,164750122708.17,9031.51
5634847,63.28,4.31,4.10,17500000000.00,6835.19
5635134,63.28,4.31,4.10,164750122708.17,3826.90
5635157,63.28,4.31,4.10,300000.00,6835.19
5635368,63.28,4.31,4.10,164750122708.17,714.57
5635509,63.28,4.31,4.10,2269914867.41,6835.19
5635969,63.28,4.31,4.10,164750122708.17,3082.46
5636149,63.28,4.31,4.10,54199000000.00,6835.19
5636550,63.28,4.31,4.10,164750122708.17,43962.71
5636672,63.28,4.31,4.10,359000000000.00,6835.19
5636904,63.28,4.31,4.10,164750122708.17,46331.98
5637067,63.28,4.31,4.10,506794718650.00,6835.19
5637326,63.28,4.31,4.10,164750122708.17,54629.50
5637405,63.28,4.31,4.10,1623196839482.00,6835.19
5637666,63.28,4.31,4.10,164750122708.17,16806.77
5637812,63.28,4.31,4.10,9167495000.00,6835.19
5638128,63.28,4.31,4.10,164750122708.17,2036.69
5638259,63.28,4.31,4.10,13300000000.00,6835.19
5638656,63.28,4.31,4.10,164750122708.17,3147.96
5638793,63.28,4.31,4.10,60000000.00,6835.19
5639127,63.28,4.31,4.10,80470000000.00,6835.19
5639393,63.28,4.31,4.10,164750122708.17,2052.29
5639545,63.28,4.31,4.10,150475423000.00,6835.19
5639947,63.28,4.31,4.10,164750122708.17,2965.90
5640317,63.28,4.31,4.10,8000000000.00,6835.19
5640713,63.28,4.31,4.10,164750122708.17,1721.62
5640816,63.28,4.31,4.10,9696375000.00,6835.19
5641278,63.28,4.31,4.10,164750122708.17,931.20
5641425,63.28,4.31,4.10,3438000000.00,6835.19

In [26]:
test = df_final.iloc[0:11352]
train = df_final.iloc[11353:56760]

In [27]:
#Now we save the processed file
train.to_csv('train.csv')
test.to_csv('test.csv')